/* ========================================
   基本カラー
======================================== */

:root {
  --bg: #FCFCF0;
  --surface: #FFFFFF;
  --subtle: #F1F1F1;
  --accent: #333B22;
  --accent-light: #EEF2CC;
  --text: #444444;
}

.bg_pt {
  position: fixed;
  inset: 0;
  z-index: -1;

  background-color: #FCFCF0;
  opacity: 0.8;
  background-image:  linear-gradient(#EEF2CC 1px, transparent 1px), linear-gradient(to right, #EEF2CC 1px, #FCFCF0 1px);
  background-size: 15px 15px;
}


/* ========================================
   全体
======================================== */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--text);
  font-family: "Yu Gothic", sans-serif;
}

main {
  width: min(100% - 32px, 600px);
  margin: 0 auto;
  padding: 48px 0;
  text-align: center;
}


/* ========================================
   見出し・文章
======================================== */

h1 {
  margin: 0 0 12px;
  color: var(--accent);
  font-size: 70px;
  font-family: "Vina Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  margin: 0 0 12px;
  color: var(--accent);
  font-size: 50px;
  font-family: "Vina Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  margin: 0 0 32px;
}

/* ========================================
   ボタン
======================================== */

button {
  padding: 12px 32px;
  border: none;
  background: var(--accent);
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;
   border-radius: 10px;
}

button:hover {
  opacity: 0.85;
}

#backButton:disabled {
  opacity: 0.4;
  cursor: default;
}


/* ========================================
   カード（１）
======================================== */

#cardArea {
  position: relative;
  width: 100%;
  max-width: 250px;
  margin: 30px auto;
  aspect-ratio: 9 / 16;
  touch-action: none;
}

.memberCard {
  position: absolute;
  inset: 0;
  border: 6px solid transparent;
  border-radius: 10px;
  background: var(--surface);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.10);
  user-select: none;
}

#memberCard {
  z-index: 2;
  cursor: grab;
  transition:
    transform 0.2s ease,
    border 0.2s ease,
    box-shadow 0.2s ease;
  will-change: transform;
}

#memberCard:active {
  cursor: grabbing;
}

#nextCard {
  z-index: 1;
  transform: scale(0.96);
  opacity: 0.6;
}

/* ========================================
   カード（判定）
======================================== */

#memberCard.card-love {
  border-color: #e53935;
}

#memberCard.card-like {
  border-color: #F1F1F1;
}

#memberCard.card-normal {
  border-color: #444444;
}

#memberImage,
#nextMemberImage {
  display: block;
  width: calc(100% - 30px);
  aspect-ratio: 3 / 4;
  object-fit: cover;
  margin: 15px;
}

#memberName,
#nextMemberName {
  margin: 12px 0 4px;
}

#memberGroup,
#nextMemberGroup {
  margin: 0 0 30px;
  color: #666666;
}


/* ========================================
   カード（２）
======================================== */

#round2Area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin: 24px auto;
  width: calc(100% - 36px);
  max-width: 390px;
}

.round2Card {
  border: 1px solid var(--accent);
  border-radius: 10px;
  background: var(--surface);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.10);
  cursor: pointer;
  user-select: none;
  aspect-ratio: 9 / 16;
  box-sizing: border-box;
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;
}

.round2Card img {
  display: block;
  width: calc(100% - 20px);
  aspect-ratio: 3 / 4;
  object-fit: cover;
  margin: 10px;
}

.round2Card h3,
.finalCard h3 {
  margin: 6px 0 2px;
  font-size: 12px;
}

.round2Card p,
.finalCard p {
  margin: 0 0 10px;
  color: #666666;
  font-size: 10px;
  line-height: 1.1;
}

.round2Card.eliminated {
  opacity: 0.4;
}


/* ========================================
   カード（３）
======================================== */

#finalArea {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin: 24px auto;
  width: calc(100% - 36px);
  max-width: 520px;
}

.finalCard {
  border: 1px solid var(--accent);
  border-radius: 10px;
  background: var(--surface);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.10);
  cursor: pointer;
  user-select: none;
  aspect-ratio: 9 / 16;
  box-sizing: border-box;
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;
}

.finalCard img {
  display: block;
  width: calc(100% - 20px);
  aspect-ratio: 3 / 4;
  object-fit: cover;
  margin: 10px;
}

.finalCard h3 {
  margin: 12px 0 4px;
  font-size: 16px;
}

.finalCard p {
  margin: 0 0 30px;
  color: #666666;
  font-size: 12px;
  line-height: 1.1;
}

.finalCard.selected {
  opacity: 0.4;
}