/* ========================================
   基本カラー
======================================== */

:root {
  --bg: #FCFDF0;
  --surface: #FFFFFF;
  --subtle: #F1F1F1;
  --accent: #3F5527;
  --accent-light: #C9E8AA;
  --text: #444444;
}


/* ========================================
   全体
======================================== */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  font-family: "Noto Sans JP", sans-serif;
}

main {
  width: min(100% - 32px, 600px);
  margin: 0 auto;
  padding: 48px 0;
  text-align: center;
}


/* ========================================
   見出し・文章
======================================== */

h1 {
  margin: 0 0 12px;
  color: var(--accent);
  font-size: 32px;
}

p {
  margin: 0 0 32px;
}


/* ========================================
   ボタン
======================================== */

button {
  padding: 12px 32px;
  border: none;
  background: var(--accent-light);
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;
   border-radius: 16px;
}

button:hover {
  opacity: 0.85;
}


/* ========================================
   カードエリア
======================================== */

#cardArea {
  width: 100%;
  max-width: 360px;
  margin: 24px auto;
  touch-action: none;
}


/* ========================================
   メンバーカード
======================================== */

#memberCard {
  border: 1px solid var(--accent);
  border-radius: 16px;
  background: var(--surface);

  box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.12);

  transition:
    transform 0.2s ease,
    border-color 0.2s ease,
    box-shadow 0.2s ease;

  user-select: none;
  cursor: grab;
}

#memberCard:active {
  cursor: grabbing;
}


/* ========================================
   判定時のカード
======================================== */

.card-love {
  border: 6px solid #e53935;
}

.card-like {
  border: 6px solid #ff7c87;
}

.card-normal {
  border: 6px solid #f1f1f1;
}

.card-dislike {
  border: 6px solid #666666;
}


/* ========================================
   メンバー画像
======================================== */

#memberImage {
  display: block;
  width: calc(100% - 60px);
  aspect-ratio: 3 / 4;
  object-fit: cover;
  margin: 30px;
}


/* ========================================
   メンバー情報
======================================== */

#memberName {
  margin: 12px 0 4px;
}

#memberGroup {
  margin: 0 0 10px;
  color: #666666;
}